body {
    background: #121212;
    color: #ffffff;
    font-family: 'JetbrainsMono', sans-serif;
    height: 100vh;
    margin: 0;
    font-size: 14px;
}

.index {
    text-align: center;
}
a {
    color: #fff;
    /*color: #6a5acd;*/
}

#hello {
    font-size: 16px;
    position: absolute;
    top: 50%;
    tranfsorm: translate(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    -webkit-animation: fadein 4s;
    -moz-animation: fadein 4s;
    -ms-animation: fadein 4s;
    -o-animation: fadein 4s;
    animation: fadein 4s;
}

#docs {
    font-family: 'JetbrainsMono-BoldItalic';
    position: absolute;
    top: 10%;
    margin-left: 10px;
    display: block;
}

#docs_title {
    /* text-decoration: underline; */
}

#docs_ele {
    display: block;
}

#sig {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'JetbrainsMono-Bold';
}

@keyframes fadein {from { opacity: 0; }to { opacity: 1; }}
@-moz-keyframes fadein {from { opacity: 0; }to { opacity: 1; }}
@-webkit-keyframes fadein {from { opacity: 0; }to { opacity: 1; }}
@-ms-keyframes fadein {from { opacity: 0; } to { opacity: 1; }}
@-o-keyframes fadein {from { opacity: 0; } to { opacity: 1; }}

@font-face {
    font-family: 'JetbrainsMono';
    src: url('fonts/jetbrains_mono/ttf/JetbrainsMono-Regular.ttf') format('truetype'),
         url('fonts/jetbrains_mono/webfonts/JetbrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetbrainsMono-Italic';
    src: url('fonts/jetbrains_mono/ttf/JetbrainsMono-Italic.ttf') format('truetype'),
         url('fonts/jetbrains_mono/webfonts/JetbrainsMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JetbrainsMono-Bold';
    src: url('fonts/jetbrains_mono/ttf/JetbrainsMono-Bold.ttf') format('truetype'),
         url('fonts/jetbrains_mono/webfonts/JetbrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetbrainsMono-BoldItalic';
    src: url('fonts/jetbrains_mono/ttf/JetbrainsMono-BoldItalic.ttf') format('truetype'),
         url('fonts/jetbrains_mono/webfonts/JetbrainsMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
